.about-us {
padding: 30px 0 40px;

& > .container {
    display: flex;
    align-items: center;
    position: relative;
}

@media screen and (min-width: 577px) and (max-width: 1053px){
    padding: 30px 0 80px;
    display: block;
}

@media screen and (min-width: 1054px) {
    padding: 54px 0 90px;

    & > .container {
        display: block;
        position: relative;
    }
}
}

.about-us__img {
max-width: 300px;
margin-right: -50px;
display: inline-block;

@media screen and (min-width: 577px) and (max-width: 1053px){
    max-width: 362px;
    margin-right: 0;
}

@media screen and (min-width: 1054px) {
    max-width: 660px;
    margin-right: 0;
}
}

.about-us__thumb {
display: inline-block;
width: 150px;
padding: 10px 12px 10px 8px;
background-color: var(--accent-color);

@media screen and (min-width: 577px) and (max-width: 1053px){
    position: absolute;
    width: 196px;
    right: 45px;
    bottom: 26px;
    padding: 20px 24px 24px 16px;
}

@media screen and (min-width: 1054px) {
    width: 358px;
    padding: 36px 43px 44px 30px;
    position: absolute;
    top: 34px;
    right: 110px;
}
}

.about-us__title {
margin-bottom: 10px;

font-weight: 600;
font-size: 12px;
line-height: 1.8;
color: var(--white-color);

@media screen and (min-width: 577px) and (max-width: 1053px){
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 15px;
}

@media screen and (min-width: 1054px) {
    margin-bottom: 26px;
    font-size: 26px;
}
}

.about-us__history {
font-size: 7px;
line-height: 1.2;
color: var(--white-color);

&:last-of-type{
    margin-bottom: 15px;
}

@media screen and (min-width: 577px) and (max-width: 1053px){
    font-size: 8px;

    &:last-of-type{
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1054px) {
    font-size: 15px;

    &:last-of-type{
        margin-bottom: 52px;
    }
}
}

.about-us__link {
width: 88px;
padding: 6px 8px;
background-color: var(--white-color);
border-radius: 1px;
font-weight: 600;
font-size: 7px;
line-height: 1.1;
text-align: center;
color: var(--accent-color);
transition: scale 500ms ease-in;

&:hover, &:focus {
    transform: scale(1.4);
    background-color: #d2e5e6dd;
    border: 1px solid var(--white-color);
    color: var(--white-color);
}

@media screen and (min-width: 577px) and (max-width: 1053px){
    width: 75px;
    padding: 4px 6px;
}

@media screen and (min-width: 1054px) {
    width: 160px;
    padding: 12px 15px;
    font-size: 13px;
}
}