.preference {
padding: 20px 0 22px;

@media screen and (min-width: 577px) and (max-width: 1053px){
    padding: 40px 0 22px;
}

& > .container {
    position: relative;
}
}


.preference__item {
position: relative;
display: inline-block;
padding: 12px;
background-color: var(--white-color);
border-radius: 2px;
box-shadow: 0px 4.81664px 6.42219px -1.60555px rgba(17, 24, 39, 0.1), 0px 1.60555px 2.40832px -0.802774px rgba(17, 24, 39, 0.05);

&:first-of-type{
    position: absolute;
    top: -30px;
    left: 190px;
    z-index: 3;
}

&:nth-of-type(2) {
    position: absolute;
    top: 15px;
    left: 75px;
}

&:nth-of-type(2) > .preference__img {
    top: -15px;
    left: -24px;
}

&:nth-of-type(3) {
    position: absolute;
    top: 70px;
    left: 170px;
    z-index: 3;
}

&:nth-of-type(3) > .preference__img {
    top: -8px;
}

&:nth-of-type(4) {
    position: absolute;
    bottom: -25px;
    left: 70px;
}

&:nth-of-type(4) > .preference__img {
    top: 80%;
    right: 15px;
}

@media screen and (min-width: 577px) and (max-width: 1053px){
    &:first-of-type{
        top: -40px;
        left: 240px;    
    }

    &:nth-of-type(2) {
        position: absolute;
        top: 10px;
        left: 125px;
    }

    &:nth-of-type(3) {
        position: absolute;
        top: 70px;
        left: 220px;
        z-index: 3;
    }

    &:nth-of-type(4) {
        position: absolute;
        bottom: -30px;
        left: 150px;
    }
}
}

.preference__img {
position: absolute;
width: 35px;
top: 0;
left: 75%;
}

.preference__desc {
    display: flex;
    font-size: 10px;
    line-height: 1.1;    
    color: #667299;

    &::before {
        margin-right: 5px;
        display: inline-block;
        content: "";
        width: 3px;
        height: 11px;
        background-color: #F9995D;
    }
}

.preference__info-number {
font-weight: 600;
font-size: 20px;
line-height: 1.2;
color: #292E3D;

@media screen and (min-width: 577px) and (max-width: 1053px){
    font-size: 28px;
}
}

.preference__thumb {
    width: 100px;
    margin: 26px 0 47px auto;

    @media screen and (min-width: 577px) and (max-width: 1053px){
        width: 144px;
    }
}

.preference__title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: var(--accent-color);

    @media screen and (min-width: 577px) and (max-width: 1053px){
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 24px;
    }
}

.preference__argument {
    margin-bottom: 22px;
    font-size: 8px;
    line-height: 1.2;
    color: #525B7A;
}

.preference__link {
width: 70px;
padding: 6px 12px;
background-color: var(--accent-color);
border-radius: 2px;
font-weight: 600;
font-size: 7px;
line-height: 1.2;
text-align: center;
color: var(--white-color);
cursor: pointer;

&:hover, &:focus {
    transform: scale(1.1);
    background-color: #929cc4;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}
}