* {
  display: block;
  box-sizing: border-box;
  font-family: var(--main-font);
  color: var(--main-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 578px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 578px), (max-width: 1054px) {
  .container {
    width: 578px;
    padding: 0 45px;
  }
}
@media screen and (min-width: 1054px) {
  .container {
    width: 1054px;
    padding: 0 82px;
  }
}

:root {
  --main-color: #14171F;
  --white-color: #ffffff;
  --accent-color: #2947A9;
  --main-font: Work Sans;
}

.header {
  height: 32px;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}

.logo__icon {
  margin-right: 5px;
}

.logo__text {
  font-weight: 700;
  font-size: 12px;
  font-style: italic;
  line-height: 1.7;
  color: var(--accent-color);
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.main-nav__link {
  font-size: 7px;
  line-height: 1.1;
  padding: 12px 0;
}
.main-nav__link:hover, .main-nav__link:focus {
  font-weight: 600;
  color: #F9995D;
}
.main-nav__link:not(:last-of-type) {
  margin-right: 21px;
}

.hero {
  padding: 95px 0;
  height: 250px;
  background-image: linear-gradient(rgba(235, 236, 248, 0.534), rgba(225, 227, 243, 0.486)), url(../images/hero-tablet.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-tablet-x2.webp);
  }
}

.hero__title {
  width: 224px;
  font-weight: 600;
  font-size: 29px;
  color: #292E3D;
}

.reputation {
  padding: 24px 0 33px;
}

.reputation__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.1;
  text-align: center;
  color: #292E3D;
}

.reputation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  margin: 0 40px;
}

.reputation__item {
  padding: 8px 8px 16px;
  flex-basis: calc((100% - 52px) / 3);
  border: 1px solid #E0E3EB;
  border-radius: 2px;
}

.reputation__icon {
  margin-bottom: 7px;
}

.reputation__item-title {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 8px;
  line-height: 1.8;
  color: #3D445C;
}

.reputation__desc {
  font-size: 6px;
  line-height: 1.2;
  color: #858EAD;
}

.about-us {
  position: relative;
  padding: 30px 0 80px;
}

.about-us__img {
  width: 362px;
}

.about-us__thumb {
  position: absolute;
  top: 45px;
  right: 45px;
  width: 196px;
  padding: 20px 24px 24px 16px;
  background-color: var(--accent-color);
}

.about-us__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.8;
  color: var(--white-color);
}

.about-us__history {
  font-size: 8px;
  line-height: 1.2;
  color: var(--white-color);
}
.about-us__history:last-of-type {
  margin-bottom: 30px;
}

.about-us__link {
  width: 88px;
  padding: 6px 8px;
  background-color: var(--white-color);
  border-radius: 1px;
  font-weight: 600;
  font-size: 7px;
  line-height: 1.1;
  text-align: center;
  color: var(--accent-color);
  transition: scale 500ms ease-in;
}
.about-us__link:hover, .about-us__link:focus {
  transform: scale(1.4);
  background-color: rgba(210, 229, 230, 0.8666666667);
  border: 1px solid var(--white-color);
  color: var(--white-color);
}

.service {
  padding: 17px 0 30px;
  background-color: #F6F8F7;
}

.service__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.1;
  color: #292E3D;
  text-align: center;
}

.service__list {
  margin: 0 40px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 20px;
}

.service__item {
  flex-basis: calc((100% - 80px) / 3);
  padding: 15px 23px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 14.8513px -0.802774px rgba(17, 24, 39, 0.05);
  border-radius: 1px;
}
.service__item:nth-of-type(even) {
  background-color: var(--accent-color);
}
.service__item:nth-of-type(even) > .service__icon {
  border-bottom: 1px solid var(--white-color);
}
.service__item:nth-of-type(even) > .service__item-title {
  color: var(--white-color);
}

.service__icon {
  margin: 0 auto 8px;
  padding: 0 4px 8px;
  border-bottom: 1px solid #E0E3EB;
  box-sizing: content-box;
}

.service__item-title {
  font-weight: 600;
  font-size: 8px;
  line-height: 1.1;
  text-align: center;
  color: var(--accent-color);
}

.preference {
  position: relative;
  padding: 40px 0 22px;
}

.preference__item {
  position: relative;
  display: inline-block;
  padding: 12px;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0px 4.81664px 6.42219px -1.60555px rgba(17, 24, 39, 0.1), 0px 1.60555px 2.40832px -0.802774px rgba(17, 24, 39, 0.05);
}
.preference__item:first-of-type {
  position: absolute;
  top: 40px;
  left: 230px;
  z-index: 3;
}
.preference__item:nth-of-type(2) {
  position: absolute;
  top: 80px;
  left: 125px;
}
.preference__item:nth-of-type(2) > .preference__img {
  top: -15px;
  left: -14%;
}
.preference__item:nth-of-type(3) {
  position: absolute;
  top: 140px;
  left: 220px;
  z-index: 3;
}
.preference__item:nth-of-type(3) > .preference__img {
  top: -8px;
}
.preference__item:nth-of-type(4) {
  position: absolute;
  bottom: 40px;
  left: 150px;
}
.preference__item:nth-of-type(4) > .preference__img {
  top: 80%;
  right: 15px;
}

.preference__img {
  position: absolute;
  width: 35px;
  top: 0;
  left: 75%;
}

.preference__desc {
  display: flex;
  font-size: 10px;
  line-height: 1.1;
  color: #667299;
}
.preference__desc::before {
  margin-right: 5px;
  display: inline-block;
  content: "";
  width: 3px;
  height: 11px;
  background-color: #F9995D;
}

.preference__info-number {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
  color: #292E3D;
}

.preference__thumb {
  width: 144px;
  margin: 26px 0 47px auto;
}

.preference__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: var(--accent-color);
}

.preference__argument {
  margin-bottom: 22px;
  font-size: 8px;
  line-height: 1.2;
  color: #525B7A;
}

.preference__link {
  width: 70px;
  padding: 6px 12px;
  background-color: var(--accent-color);
  border-radius: 2px;
  font-weight: 600;
  font-size: 7px;
  line-height: 1.2;
  text-align: center;
  color: var(--white-color);
  cursor: pointer;
}
.preference__link:hover, .preference__link:focus {
  transform: scale(1.1);
  background-color: #929cc4;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.support {
  padding: 40px 0;
  background-image: url(../images/consultation-tablet.webp);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.support > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .support {
    background-image: url(../images/consultation-tablet-x2.webp);
  }
}

.support__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--white-color);
}

.support__desc {
  display: inline-block;
  font-size: 10px;
  line-height: 1.1;
  color: var(--white-color);
}

.support__link {
  display: inline-block;
  text-decoration: underline;
  font-size: 10px;
  line-height: 1.1;
  color: var(--white-color);
}

.support__button {
  width: 92px;
  padding: 6px;
  border: 2px solid var(--white-color);
  border-radius: 2px;
  background-color: transparent;
  font-weight: 600;
  font-size: 7px;
  line-height: 1.1;
  text-align: center;
  color: var(--white-color);
  cursor: pointer;
}

.projects {
  padding: 35px 0 55px;
}

.projects__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #292E3D;
}

.projects__item {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.1;
  color: #C2C7D6;
  padding-left: 8px;
  box-sizing: content-box;
}
.projects__item:hover, .projects__item:focus {
  font-weight: 700;
  color: var(--accent-color);
  border-left: 2px solid var(--accent-color);
  padding-left: 6px;
}
.projects__item:not(:last-child) {
  margin-bottom: 8px;
}

.feedback {
  padding: 24px 0;
  background-color: #F6F8F7;
}

.feedback__title {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #292E3D;
  text-align: center;
}

.feedback__desc {
  margin-bottom: 15px;
  font-size: 8px;
  line-height: 1.1;
  text-align: center;
  color: #292E3D;
}

.feedback__form {
  margin: 0 auto;
  width: 250px;
  padding: 0 6px;
}

.feedback__input {
  margin-bottom: 8px;
  display: inline-block;
  width: 112px;
  height: 16px;
  padding: 3px;
  background-color: var(--white-color);
  border: 1px solid #E0E3EB;
  border-radius: 2px;
  font-size: 7px;
  line-height: 1.1;
  color: #A3AAC2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.feedback__input::-moz-placeholder {
  font-size: 7px;
  line-height: 1.1;
  color: #A3AAC2;
}
.feedback__input:-ms-input-placeholder {
  font-size: 7px;
  line-height: 1.1;
  color: #A3AAC2;
}
.feedback__input::placeholder {
  font-size: 7px;
  line-height: 1.1;
  color: #A3AAC2;
}
.feedback__input::after {
  content: "*";
  display: block;
  background-color: #C40303;
  width: 4px;
  height: 4px;
}

.feedback__details {
  font-size: 7px;
  line-height: 1.1;
  color: #A3AAC2;
}

.feedback__wrapper {
  display: inline-block;
  position: relative;
}

.feedback__icon {
  position: absolute;
  top: 6px;
  right: 4px;
  background-color: var(--white-color);
  pointer-events: none;
}

.feedback__message {
  margin-bottom: 3px;
  padding: 3px;
  width: 229px;
  height: 54px;
  resize: none;
  background-color: var(--white-color);
  border: 1px solid #E0E3EB;
  border-radius: 2px;
  font-size: 7px;
  line-height: 1.1;
  color: #292E3D;
}
.feedback__message::-moz-placeholder {
  font-size: 7px;
  line-height: 1.1;
  color: #A3AAC2;
}
.feedback__message:-ms-input-placeholder {
  font-size: 7px;
  line-height: 1.1;
  color: #A3AAC2;
}
.feedback__message::placeholder {
  font-size: 7px;
  line-height: 1.1;
  color: #A3AAC2;
}

.feedback__explain {
  margin-bottom: 10px;
  font-size: 7px;
  line-height: 1.1;
  color: #929cc4;
}

.feedback__explain--accent {
  margin-right: 3px;
  display: inline-block;
  color: #C40303;
}

.feedback__button {
  margin: 0 auto;
  width: 108px;
  padding: 5px 12px;
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  color: var(--white-color);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: scale 500ms ease-in;
}
.feedback__button:hover, .feedback__button:focus {
  transform: scale(1.1);
  background-color: #929cc4;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.footer {
  padding: 34px 0 10px;
  background-image: linear-gradient(to bottom, var(--white-color) 85%, var(--accent-color) 85%);
}
.footer .logo {
  margin-bottom: 40px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer__adress {
  margin-bottom: 12px;
}

.footer__adress-link {
  font-size: 8px;
  line-height: 1.1;
  font-style: normal;
  color: #292E3D;
}
.footer__adress-link:not(:last-child) {
  margin-bottom: 12px;
}

.footer__adress--accent {
  width: 45px;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--accent-color);
}

.footer__form {
  margin-bottom: 17px;
  width: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__desc {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 8px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--accent-color);
}
.footer__desc:first-child {
  width: 170px;
}

.footer__label-input {
  padding: 2px;
  background: var(--white-color);
  border: 1px solid #E0E3EB;
  border-radius: 2px;
  font-size: 9px;
  line-height: 1.1;
  outline: none;
}
.footer__label-input::-moz-placeholder {
  font-size: 9px;
  line-height: 1.1;
  color: #A3AAC2;
}
.footer__label-input:-ms-input-placeholder {
  font-size: 9px;
  line-height: 1.1;
  color: #A3AAC2;
}
.footer__label-input::placeholder {
  font-size: 9px;
  line-height: 1.1;
  color: #A3AAC2;
}

.footer__button-subs {
  padding: 4px 9px;
  width: 54px;
  background-color: #F9995D;
  border-radius: 2px;
  font-weight: 600;
  font-size: 7px;
  line-height: 1.1;
  text-align: center;
  color: var(--white-color);
  border: none;
  cursor: pointer;
}
.footer__button-subs:hover, .footer__button-subs:focus {
  background-color: #eff1f5;
  border: 1px solid #F9995D;
  color: #F9995D;
}

.footer__list {
  width: 64px;
  display: flex;
  justify-content: space-between;
}

.footer__icon {
  transition: scale 500ms ease-in;
}
.footer__link:hover > .footer__icon, .footer__link:focus > .footer__icon {
  transform: scale(1.1);
}

.footer__info {
  font-size: 6px;
  line-height: 1.2;
  color: var(--white-color);
}/*# sourceMappingURL=main.css.map */