* {
  display: block;
  box-sizing: border-box;
  font-family: var(--main-font);
  color: var(--main-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 577px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .container {
    width: 578px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1053px) {
  .container {
    width: 1054px;
    padding: 0 80px;
  }
}

:root {
  --main-color: #14171F;
  --white-color: #ffffff;
  --accent-color: #2947A9;
  --main-font: Work Sans;
}

.header {
  height: 32px;
}
@media screen and (min-width: 1053px) {
  .header {
    height: 58px;
  }
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__icon {
  margin-right: 5px;
}
@media screen and (min-width: 1053px) {
  .logo__icon {
    width: 27px;
    height: 34px;
  }
}

.logo__text {
  font-weight: 700;
  font-size: 12px;
  font-style: italic;
  line-height: 1.7;
  color: var(--accent-color);
}
@media screen and (min-width: 1053px) {
  .logo__text {
    font-size: 22px;
    line-height: 1.2;
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.main-nav__link {
  font-size: 7px;
  line-height: 1.1;
  padding: 12px 0;
}
.main-nav__link:hover, .main-nav__link:focus {
  font-weight: 600;
  color: #F9995D;
}
.main-nav__link:not(:last-of-type) {
  margin-right: 11px;
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .main-nav__link:not(:last-of-type) {
    margin-right: 21px;
  }
}
@media screen and (min-width: 1053px) {
  .main-nav__link {
    font-size: 14px;
    padding: 21px 0;
  }
  .main-nav__link:not(:last-of-type) {
    margin-right: 36px;
  }
}

.hero {
  padding: 50px 0;
  height: 200px;
  background-image: linear-gradient(rgba(235, 236, 248, 0.534), rgba(225, 227, 243, 0.486)), url(../images/hero-tablet.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-tablet-x2.webp);
  }
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .hero {
    height: 250px;
    padding: 95px 0;
  }
}
@media screen and (min-width: 1053px) {
  .hero {
    display: flex;
    align-items: center;
    height: 472px;
    padding: 0;
    background-image: linear-gradient(rgba(235, 236, 248, 0.534), rgba(225, 227, 243, 0.486)), url(../images/hero-desktop.webp);
    background-position: bottom;
  }
}
@media screen and (min-width: 1053px) and (min-device-pixel-ratio: 2), screen and (min-width: 1053px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1053px) and (min-resolution: 192dpi), screen and (min-width: 1053px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-desktop-x2.webp);
  }
}

.hero__title {
  width: 224px;
  font-weight: 600;
  font-size: 22px;
  color: #292E3D;
  line-height: 1.2;
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .hero__title {
    font-size: 29px;
  }
}
@media screen and (min-width: 1053px) {
  .hero__title {
    width: 406px;
    font-size: 52px;
  }
}

.reputation {
  padding: 24px 0 0;
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .reputation {
    padding: 24px 0 33px;
  }
}
@media screen and (min-width: 1053px) {
  .reputation {
    padding: 43px 0 60px;
  }
}

.reputation__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.1;
  text-align: center;
  color: #292E3D;
}
@media screen and (min-width: 1053px) {
  .reputation__title {
    margin-bottom: 36px;
    font-size: 26px;
    line-height: 1.2;
  }
}

.reputation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  margin: 0 25px;
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .reputation__list {
    margin: 0 40px;
  }
}
@media screen and (min-width: 1053px) {
  .reputation__list {
    gap: 48px;
    margin: 0 80px;
  }
}

.reputation__item {
  padding: 4px 4px 8px;
  flex-basis: calc((100% - 52px) / 3);
  border: 1px solid #E0E3EB;
  border-radius: 2px;
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .reputation__item {
    padding: 8px 8px 16px;
  }
}
@media screen and (min-width: 1053px) {
  .reputation__item {
    flex-basis: calc((100% - 96px) / 3);
    padding: 15px 14px 30px;
  }
}

.reputation__icon {
  margin-bottom: 7px;
}
@media screen and (min-width: 1053px) {
  .reputation__icon {
    margin-bottom: 13px;
    width: 26px;
    height: 26px;
  }
}

.reputation__item-title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 8px;
  line-height: 1.2;
  color: #3D445C;
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .reputation__item-title {
    line-height: 1.4;
    margin-bottom: 7px;
  }
}
@media screen and (min-width: 1053px) {
  .reputation__item-title {
    margin-bottom: 13px;
    font-size: 15px;
  }
}

.reputation__desc {
  font-size: 6px;
  line-height: 1.2;
  color: #858EAD;
}
@media screen and (min-width: 1053px) {
  .reputation__desc {
    font-size: 12px;
  }
}

.about-us {
  padding: 30px 0 40px;
}
.about-us > .container {
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .about-us {
    padding: 30px 0 80px;
    display: block;
  }
}
@media screen and (min-width: 1054px) {
  .about-us {
    padding: 54px 0 90px;
  }
  .about-us > .container {
    display: block;
    position: relative;
  }
}

.about-us__img {
  max-width: 300px;
  margin-right: -50px;
  display: inline-block;
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .about-us__img {
    max-width: 362px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1054px) {
  .about-us__img {
    max-width: 660px;
    margin-right: 0;
  }
}

.about-us__thumb {
  display: inline-block;
  width: 150px;
  padding: 10px 12px 10px 8px;
  background-color: var(--accent-color);
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .about-us__thumb {
    position: absolute;
    width: 196px;
    right: 45px;
    bottom: 26px;
    padding: 20px 24px 24px 16px;
  }
}
@media screen and (min-width: 1054px) {
  .about-us__thumb {
    width: 358px;
    padding: 36px 43px 44px 30px;
    position: absolute;
    top: 34px;
    right: 110px;
  }
}

.about-us__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.8;
  color: var(--white-color);
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .about-us__title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 15px;
  }
}
@media screen and (min-width: 1054px) {
  .about-us__title {
    margin-bottom: 26px;
    font-size: 26px;
  }
}

.about-us__history {
  font-size: 7px;
  line-height: 1.2;
  color: var(--white-color);
}
.about-us__history:last-of-type {
  margin-bottom: 15px;
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .about-us__history {
    font-size: 8px;
  }
  .about-us__history:last-of-type {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1054px) {
  .about-us__history {
    font-size: 15px;
  }
  .about-us__history:last-of-type {
    margin-bottom: 52px;
  }
}

.about-us__link {
  width: 88px;
  padding: 6px 8px;
  background-color: var(--white-color);
  border-radius: 1px;
  font-weight: 600;
  font-size: 7px;
  line-height: 1.1;
  text-align: center;
  color: var(--accent-color);
  transition: scale 500ms ease-in;
}
.about-us__link:hover, .about-us__link:focus {
  transform: scale(1.4);
  background-color: rgba(210, 229, 230, 0.8666666667);
  border: 1px solid var(--white-color);
  color: var(--white-color);
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .about-us__link {
    width: 75px;
    padding: 4px 6px;
  }
}
@media screen and (min-width: 1054px) {
  .about-us__link {
    width: 160px;
    padding: 12px 15px;
    font-size: 13px;
  }
}

.service {
  padding: 17px 0 30px;
  background-color: #F6F8F7;
}
@media screen and (min-width: 1054px) {
  .service {
    padding: 32px 0 55px;
  }
}

.service__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.1;
  color: #292E3D;
  text-align: center;
}
@media screen and (min-width: 1054px) {
  .service__title {
    margin-bottom: 26px;
    font-size: 26px;
  }
}

.service__list {
  margin: 0 40px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 20px;
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .service__list {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media screen and (min-width: 1054px) {
  .service__list {
    -moz-column-gap: 70px;
         column-gap: 70px;
    row-gap: 35px;
  }
}

.service__item {
  flex-basis: calc((100% - 25px) / 2);
  padding: 15px 23px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 14.8513px -0.802774px rgba(17, 24, 39, 0.05);
  border-radius: 1px;
}
.service__item:nth-of-type(even) {
  background-color: var(--accent-color);
}
.service__item:nth-of-type(even) > .service__icon {
  border-bottom: 1px solid var(--white-color);
}
.service__item:nth-of-type(even) > .service__item-title {
  color: var(--white-color);
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .service__item {
    flex-basis: calc((100% - 80px) / 3);
  }
}
@media screen and (min-width: 1054px) {
  .service__item {
    padding: 27px 52px;
    flex-basis: calc((100% - 140px) / 3);
  }
}

.service__icon {
  margin: 0 auto 8px;
  padding: 0 4px 8px;
  border-bottom: 1px solid #E0E3EB;
  box-sizing: content-box;
}
@media screen and (min-width: 1054px) {
  .service__icon {
    width: 29px;
    height: 29px;
    padding: 0 7px 14px;
  }
}

.service__item-title {
  font-weight: 600;
  font-size: 8px;
  line-height: 1.1;
  text-align: center;
  color: var(--accent-color);
}
@media screen and (min-width: 1054px) {
  .service__item-title {
    font-size: 15px;
  }
}

.preference {
  padding: 20px 0 22px;
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .preference {
    padding: 40px 0 22px;
  }
}
@media screen and (min-width: 1054px) {
  .preference {
    padding: 90px 0 70px;
  }
}
.preference > .container {
  position: relative;
}

.preference__item {
  position: relative;
  display: inline-block;
  padding: 12px;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0px 4.81664px 6.42219px -1.60555px rgba(17, 24, 39, 0.1), 0px 1.60555px 2.40832px -0.802774px rgba(17, 24, 39, 0.05);
}
.preference__item:first-of-type {
  position: absolute;
  top: -30px;
  left: 110px;
  z-index: 3;
}
.preference__item:nth-of-type(2) {
  position: absolute;
  top: 15px;
  left: 25px;
}
.preference__item:nth-of-type(2) > .preference__img {
  top: -15px;
  left: -17px;
}
.preference__item:nth-of-type(3) {
  position: absolute;
  top: 70px;
  left: 95px;
  z-index: 3;
}
.preference__item:nth-of-type(3) > .preference__img {
  top: -8px;
}
.preference__item:nth-of-type(4) {
  position: absolute;
  bottom: -25px;
  left: 20px;
}
.preference__item:nth-of-type(4) > .preference__img {
  top: 72%;
  left: 90%;
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .preference__item:first-of-type {
    width: 112px;
    top: -40px;
    left: 35%;
  }
  .preference__item:nth-of-type(2) {
    width: 144px;
    top: 5px;
    left: 80px;
  }
  .preference__item:nth-of-type(3) {
    width: 110px;
    left: 180px;
    z-index: 3;
  }
  .preference__item:nth-of-type(4) {
    width: 133px;
    bottom: -36px;
    left: 18%;
  }
}
@media screen and (min-width: 1054px) {
  .preference__item {
    padding: 22px;
  }
  .preference__item:first-of-type {
    width: 205px;
    top: -35px;
    left: 35%;
  }
  .preference__item:nth-of-type(2) {
    width: 265px;
    left: 14%;
    top: 40px;
  }
  .preference__item:nth-of-type(2) > .preference__img {
    top: -40px;
    left: -30px;
  }
  .preference__item:nth-of-type(3) {
    width: 202px;
    top: 150px;
    left: 30%;
  }
  .preference__item:nth-of-type(4) {
    width: 244px;
    bottom: -59px;
    left: 14%;
  }
  .preference__item:nth-of-type(4) > .preference__img {
    top: 70%;
    left: 85%;
  }
}

.preference__img {
  position: absolute;
  width: 35px;
  top: 0;
  left: 75%;
}
@media screen and (min-width: 1054px) {
  .preference__img {
    width: 70px;
    top: -10px;
  }
}

.preference__desc {
  display: flex;
  font-size: 10px;
  line-height: 1.1;
  color: #667299;
}
.preference__desc::before {
  margin-right: 5px;
  display: inline-block;
  content: "";
  width: 3px;
  height: 11px;
  background-color: #F9995D;
}
@media screen and (min-width: 1054px) {
  .preference__desc {
    font-size: 18px;
  }
  .preference__desc::before {
    height: 18px;
  }
}

.preference__info-number {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #292E3D;
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .preference__info-number {
    font-size: 28px;
  }
}
@media screen and (min-width: 1054px) {
  .preference__info-number {
    font-size: 53px;
  }
}

.preference__thumb {
  width: 100px;
  margin: 26px 0 47px auto;
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .preference__thumb {
    width: 144px;
  }
}
@media screen and (min-width: 1054px) {
  .preference__thumb {
    width: 262px;
    margin: 35px 20px 60px auto;
  }
}

.preference__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: var(--accent-color);
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .preference__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
  }
}
@media screen and (min-width: 1054px) {
  .preference__title {
    margin-bottom: 30px;
    font-size: 43px;
  }
}

.preference__argument {
  margin-bottom: 22px;
  font-size: 8px;
  line-height: 1.2;
  color: #525B7A;
}
@media screen and (min-width: 1054px) {
  .preference__argument {
    margin-bottom: 45px;
    font-size: 15px;
  }
}

.preference__link {
  width: 70px;
  padding: 6px 12px;
  background-color: var(--accent-color);
  border-radius: 2px;
  font-weight: 600;
  font-size: 7px;
  line-height: 1.2;
  text-align: center;
  color: var(--white-color);
  cursor: pointer;
}
.preference__link:hover, .preference__link:focus {
  transform: scale(1.1);
  background-color: #929cc4;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
@media screen and (min-width: 1054px) {
  .preference__link {
    width: 128px;
    padding: 12px 28px;
    font-size: 13px;
  }
}

.support {
  padding: 20px 0;
  background-image: url(../images/consultation-tablet.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.support > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .support {
    background-image: url(../images/consultation-tablet-x2.webp);
  }
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .support {
    padding: 40px 0;
  }
}
@media screen and (min-width: 1054px) {
  .support {
    padding: 72px 0;
    background-image: url("../images/consultation-desktop.webp");
  }
}
@media screen and (min-width: 1054px) and (min-device-pixel-ratio: 2), screen and (min-width: 1054px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1054px) and (min-resolution: 192dpi), screen and (min-width: 1054px) and (min-resolution: 2dppx) {
  .support {
    background-image: url("../images/consultation-desktop-x2.webp");
  }
}

.support__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--white-color);
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .support__title {
    font-weight: 500;
    font-size: 12px;
  }
}
@media screen and (min-width: 1054px) {
  .support__title {
    margin-bottom: 22px;
    font-size: 26px;
  }
}

.support__desc {
  display: inline-block;
  font-size: 10px;
  line-height: 1.1;
  color: var(--white-color);
}
@media screen and (min-width: 1054px) {
  .support__desc {
    font-size: 18px;
  }
}

.support__link {
  display: inline-block;
  text-decoration: underline;
  font-size: 10px;
  line-height: 1.1;
  color: var(--white-color);
}
@media screen and (min-width: 1054px) {
  .support__link {
    font-size: 18px;
  }
}

.support__button {
  width: 120px;
  padding: 6px;
  border: 2px solid var(--white-color);
  border-radius: 2px;
  background-color: transparent;
  font-weight: 600;
  font-size: 7px;
  line-height: 1.1;
  text-align: center;
  color: var(--white-color);
  cursor: pointer;
}
@media screen and (min-width: 577px) and (max-width: 1053px) {
  .support__button {
    width: 92px;
  }
}
@media screen and (min-width: 1054px) {
  .support__button {
    margin-right: 35px;
    width: 170px;
    font-size: 13px;
    padding: 12px;
  }
}

.projects {
  padding: 35px 0 55px;
}
@media screen and (min-width: 1054px) {
  .projects {
    padding: 64px 0 100px;
  }
}

.projects__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #292E3D;
}
@media screen and (min-width: 1054px) {
  .projects__title {
    margin-bottom: 29px;
    font-size: 26px;
  }
}

.projects__item {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.1;
  color: #C2C7D6;
  padding-left: 8px;
  box-sizing: content-box;
}
.projects__item:hover, .projects__item:focus {
  font-weight: 700;
  color: var(--accent-color);
  border-left: 2px solid var(--accent-color);
  padding-left: 6px;
}
.projects__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1054px) {
  .projects__item {
    font-size: 18px;
  }
  .projects__item:not(:last-child) {
    margin-bottom: 14px;
  }
}

.feedback {
  padding: 24px 0;
  background-color: #F6F8F7;
}
@media screen and (min-width: 1054px) {
  .feedback {
    padding: 45px 0;
  }
}

.feedback__title {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #292E3D;
  text-align: center;
}
@media screen and (min-width: 1054px) {
  .feedback__title {
    margin-bottom: 14px;
    font-size: 26px;
  }
}

.feedback__desc {
  margin-bottom: 15px;
  font-size: 8px;
  line-height: 1.1;
  text-align: center;
  color: #292E3D;
}
@media screen and (min-width: 1054px) {
  .feedback__desc {
    margin-bottom: 27px;
    font-size: 15px;
  }
}

.feedback__form {
  margin: 0 auto;
  width: 250px;
  padding: 0 6px;
}
@media screen and (min-width: 1054px) {
  .feedback__form {
    width: 455px;
    padding: 2px 9px;
  }
}

.feedback__input {
  margin-bottom: 8px;
  display: inline-block;
  width: 112px;
  padding: 3px;
  background-color: var(--white-color);
  border: 1px solid #E0E3EB;
  border-radius: 2px;
  font-size: 7px;
  line-height: 1.1;
  color: #A3AAC2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.feedback__input::-moz-placeholder {
  font-size: 7px;
  line-height: 1.1;
  color: #A3AAC2;
}
.feedback__input:-ms-input-placeholder {
  font-size: 7px;
  line-height: 1.1;
  color: #A3AAC2;
}
.feedback__input::placeholder {
  font-size: 7px;
  line-height: 1.1;
  color: #A3AAC2;
}
@media screen and (min-width: 1054px) {
  .feedback__input {
    margin-bottom: 15px;
    width: 204px;
    font-size: 13px;
    padding: 7px 6px;
  }
  .feedback__input::-moz-placeholder {
    font-size: 13px;
    padding: 7px 6px;
  }
  .feedback__input:-ms-input-placeholder {
    font-size: 13px;
    padding: 7px 6px;
  }
  .feedback__input::placeholder {
    font-size: 13px;
    padding: 7px 6px;
  }
  .feedback__desc + .feedback__input {
    margin-right: 23px;
  }
}

.feedback__details {
  font-size: 7px;
  line-height: 1.1;
  color: #A3AAC2;
}
@media screen and (min-width: 1054px) {
  .feedback__details {
    font-size: 9px;
  }
}

.feedback__wrapper {
  display: inline-block;
  position: relative;
}
@media screen and (min-width: 1054px) {
  .feedback__wrapper {
    margin-right: 23px;
  }
}

.feedback__icon {
  position: absolute;
  top: 6px;
  right: 4px;
  background-color: var(--white-color);
  pointer-events: none;
}
@media screen and (min-width: 1054px) {
  .feedback__icon {
    top: 7px;
    width: 15px;
    height: 15px;
  }
}

.feedback__message {
  margin-bottom: 3px;
  padding: 3px;
  width: 229px;
  height: 54px;
  resize: none;
  background-color: var(--white-color);
  border: 1px solid #E0E3EB;
  border-radius: 2px;
  font-size: 7px;
  line-height: 1.1;
  color: #292E3D;
}
.feedback__message::-moz-placeholder {
  font-size: 7px;
  line-height: 1.1;
  color: #A3AAC2;
}
.feedback__message:-ms-input-placeholder {
  font-size: 7px;
  line-height: 1.1;
  color: #A3AAC2;
}
.feedback__message::placeholder {
  font-size: 7px;
  line-height: 1.1;
  color: #A3AAC2;
}
@media screen and (min-width: 1054px) {
  .feedback__message {
    margin-bottom: 6px;
    width: 437px;
    height: 98px;
    font-size: 13px;
  }
  .feedback__message::-moz-placeholder {
    font-size: 13px;
    padding: 6px;
  }
  .feedback__message:-ms-input-placeholder {
    font-size: 13px;
    padding: 6px;
  }
  .feedback__message::placeholder {
    font-size: 13px;
    padding: 6px;
  }
}

.feedback__explain {
  margin-bottom: 10px;
  font-size: 7px;
  line-height: 1.1;
  color: #929cc4;
}
@media screen and (min-width: 1054px) {
  .feedback__explain {
    margin-bottom: 20px;
    font-size: 11px;
  }
}

.feedback__explain--accent {
  margin-right: 3px;
  display: inline-block;
  color: #C40303;
}

.feedback__button {
  margin: 0 auto;
  width: 108px;
  padding: 5px 0;
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  color: var(--white-color);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: scale 500ms ease-in;
}
.feedback__button:hover, .feedback__button:focus {
  transform: scale(1.1);
  background-color: #929cc4;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
@media screen and (min-width: 1054px) {
  .feedback__button {
    width: 198px;
    font-size: 13px;
    padding: 12px 0;
  }
}

.footer {
  padding: 34px 0 10px;
  background-image: linear-gradient(to bottom, var(--white-color) 85%, var(--accent-color) 85%);
}
.footer .logo {
  margin-bottom: 40px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1054px) {
  .footer {
    padding: 55px 0 18px;
  }
  .footer .logo {
    margin-bottom: 77px;
  }
}

.footer__adress {
  margin-bottom: 12px;
}
@media screen and (min-width: 1054px) {
  .footer__adress {
    margin-bottom: 22px;
  }
}

.footer__adress-link {
  font-size: 8px;
  line-height: 1.1;
  font-style: normal;
  color: #292E3D;
}
.footer__adress-link:not(:last-child) {
  margin-bottom: 12px;
}
@media screen and (min-width: 1054px) {
  .footer__adress-link {
    font-size: 15px;
  }
  .footer__adress-link:not(:last-child) {
    margin-bottom: 23px;
  }
}

.footer__adress--accent {
  width: 45px;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--accent-color);
}
@media screen and (min-width: 1054px) {
  .footer__adress--accent {
    font-size: 15px;
    width: 85px;
  }
}

@media screen and (max-width: 577px) {
  .footer__form-wrapper {
    width: 100px;
  }
}
@media screen and (min-width: 577px) and (max-width: 1054px) {
  .footer__form-wrapper {
    width: 170px;
  }
}
@media screen and (min-width: 1054px) {
  .footer__form-wrapper {
    width: 310px;
  }
}

.footer__form {
  margin-bottom: 17px;
}
@media screen and (min-width: 577px) {
  .footer__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1054px) {
  .footer__form {
    margin-bottom: 30px;
  }
}

.footer__desc {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 8px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--accent-color);
}
@media screen and (min-width: 577px) {
  .footer__desc:first-child {
    width: 170px;
  }
}
@media screen and (min-width: 1054px) {
  .footer__desc {
    font-size: 15px;
  }
  .footer__desc:first-child {
    width: 310px;
  }
}

.footer__label-input {
  width: 90px;
  margin-bottom: 8px;
  padding: 2px;
  background: var(--white-color);
  border: 1px solid #E0E3EB;
  border-radius: 2px;
  font-size: 9px;
  line-height: 1.1;
  outline: none;
}
.footer__label-input::-moz-placeholder {
  font-size: 9px;
  line-height: 1.1;
  color: #A3AAC2;
}
.footer__label-input:-ms-input-placeholder {
  font-size: 9px;
  line-height: 1.1;
  color: #A3AAC2;
}
.footer__label-input::placeholder {
  font-size: 9px;
  line-height: 1.1;
  color: #A3AAC2;
}
@media screen and (min-width: 577px) and (max-width: 1054px) {
  .footer__label-input {
    width: 110px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1054px) {
  .footer__label-input {
    width: 204px;
    font-size: 13px;
    padding: 7px;
  }
  .footer__label-input::-moz-placeholder {
    font-size: 13px;
  }
  .footer__label-input:-ms-input-placeholder {
    font-size: 13px;
  }
  .footer__label-input::placeholder {
    font-size: 13px;
  }
}

.footer__button-subs {
  padding: 4px 9px;
  height: 16px;
  width: 54px;
  background-color: #F9995D;
  border-radius: 2px;
  font-weight: 600;
  font-size: 7px;
  line-height: 1.1;
  text-align: center;
  color: var(--white-color);
  border: none;
  cursor: pointer;
}
.footer__button-subs:hover, .footer__button-subs:focus {
  background-color: #eff1f5;
  border: 1px solid #F9995D;
  color: #F9995D;
}
@media screen and (min-width: 1054px) {
  .footer__button-subs {
    width: 99px;
    font-size: 13px;
    height: 29px;
  }
}

.footer__list {
  width: 64px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1054px) {
  .footer__list {
    width: 115px;
  }
}

.footer__icon {
  transition: scale 500ms ease-in;
}
.footer__link:hover > .footer__icon, .footer__link:focus > .footer__icon {
  transform: scale(1.1);
}
@media screen and (min-width: 1054px) {
  .footer__icon {
    width: 29px;
    height: 29px;
  }
}

.footer__info {
  font-size: 6px;
  line-height: 1.2;
  color: var(--white-color);
}
@media screen and (min-width: 1054px) {
  .footer__info {
    font-size: 11px;
  }
}/*# sourceMappingURL=main.css.map */